<% title "PrettyTitle" %>

<div class="container">
  <div class="jumbotron">
    <h1>PageTitle Tutorial</h1>
    <p>Solution 01: Use yield :title in layout and declare content_for :yield in view</p>
    <p>Solution 02: Use @page_title in layout and declare @page_title in view</p>
    <p>Solution 03: Use yield :title in layout and call title helper in view</p>
  </div>
</div>
