<%= content_for :title do %>
 Pretty Title
<% end %>

<div class="container">
  <div class="jumbotron">
    <h1>PageTitle Tutorial</h1>
    <p>Solution 01: Use yield :title in layout and content_for :yield in view</p>
  </div>
</div>
